/* UNIVERSAL STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: #d8bfd8;
}

img {
  object-fit: cover;
  padding: 2px;
}

button {
  padding: 2px;
}

.imgBorder {
  border: 2px solid #faf0e6;
  border-radius: 1rem;
  width: auto;
  height: 300px;
}

/* END OF UNIVERSAL STYLES */
/*  */
/*  */
/*  */
/* LANDING PAGE STYLES */

/* navabar */
#navbar {
  padding: 20px 0;
  text-align: center;
}

#storeName {
  font-family: 'Lobster Two', cursive;
  font-size: 5rem;
}

#navList {
  list-style: none;
  display: inline-flex;
  text-align: center;
}

#navList li {
  padding: 10px;
}

#navList a {
  text-decoration: none;
  color: #000;
}

#navList a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* landing banner */
#banner {
  position: relative;
  width: 100%;
}

#bannerImg {
  height: 800px;
  width: 100%;
  z-index: -1;
  object-position: right 65%;
  padding: 0;
}

#bannerInfo {
  position: absolute;
  left: 200px;
  top: 300px;
}

#bannerHeading,
#bannerLink {
  text-align: center;
  line-height: 100px;
  color: #000;
}

#bannerHeading {
  font-family: 'Lobster Two', cursive;
  font-size: 4rem;
}

#bannerLink a {
  text-decoration: none;
  font-size: 1.5rem;
  border: 2px solid #fff;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

#bannerLink a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Best sellers section */
#bestSellers {
  margin: 50px;
}

.sectionHeadings {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
}

.borderSmall {
  width: 25px;
  margin: auto;
  border-bottom: 5px solid #000;
}

.container {
  margin: 30px auto;
}

.card {
  width: 18rem;
  height: 500px;
  background-color: #d8bfd8;
  transition: all 0.2s ease-in-out;
  border: none;
}

.card:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.564);
  transform: scale(1.1);
}

/* testimonials section  */
#testimonials {
  height: 200px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

#carouselExampleControls {
  margin: 20px auto;
  width: 80%;
}

#testimonials:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.testText {
  /* testText is the testimonial text */
  width: 60%;
  margin: 0 auto;
}

/* Meet the team section */
#meetTheTeam {
  width: 90%;
  margin: 20px auto 40px;
  display: flex;
  flex-direction: row;
}
#teamMember1,
#teamMember2 {
  margin: auto;
}

.meetTheTeamName {
  text-align: center;
  text-decoration: underline;
  padding-top: 10px;
  font-size: 2rem;
  font-family: 'Lobster two', cursive;
}

.meetTheTeamLinks {
  color: #000;
}

.meetTheTeamLinks:hover {
  color: grey;
}

.meetTheTeamCard {
  height: auto;
}

.meetTheTeamImg {
  height: 300px;
}

.landingPageMeetTheTeam {
  filter: grayscale(100%);
}

.jobTitle {
  font-size: 1.5rem;
  text-decoration: underline;
  text-align: center;
  font-family: 'Lobster two', cursive;
}

/* Footer section */
#footer {
  width: 100%;
  padding: 50px 100px;
  background-color: #000;
}

#footerContainer {
  width: 60%;
  margin: auto;
}

#footerName {
  display: inline-block;
  font-size: 4rem;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  padding: 5px;
  background: linear-gradient(to left, PaleVioletRed, Plum);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerList {
  list-style: none;
  margin: 20px 0;
}

.footerList li {
  text-align: center;
  padding-bottom: 15px;
}

.footerList a {
  text-decoration: none;
  color: #fff;
}

.footerList a:hover {
  text-decoration: underline;
}

.footerDeclaration {
  color: #fff;
  text-align: center;
}

/* END OF LANDING PAGE STYLES */
/*  */
/*  */
/*  */
/* CATALOGUE PAGE STYLES */
#catalogueContainer {
  width: 90%;
  margin: auto;
}

#catalogueNav {
  width: 30%;
  float: left;
  margin-top: 30px;
}

#catalogueIcons {
  padding: 30px;
  float: right;
  width: 70%;
}
.catalogueCard {
  height: auto;
}

.filler {
  clear: both;
}

/* Some pace around the cards */
.col-lg-4,
.col-md-6,
.col-sm-12 {
  margin: 20px 0;
}

/* Size section */
#section1,
#section2 {
  padding: 30px 20px;
}

.headers {
  width: 50%;
  margin: auto;
  font-family: 'Lobster', cursive;
}

.itemName {
  font-family: 'Lobster Two', cursive;
}

.itemDiscription {
  font-size: 1.5rem;
}

.sizeGuide {
  font-size: 1.8rem;
  text-decoration: underline;
}

.itemName,
.itemDiscription,
.sizeGuide {
  text-align: center;
}

/* Decoration */
#topCollection {
  background: linear-gradient(to left, orange, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}

#section1 .table {
  width: 80%;
  margin: auto;
  background: linear-gradient(to left, orange, orangered);
}

#bottomCollection {
  background: linear-gradient(to left, rgb(50, 218, 4), green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}
#section2 .table {
  width: 80%;
  margin: auto;
  background: linear-gradient(to left, rgb(50, 218, 4), green);
}
/*! Responsiveness */

.halfWidth {
  display: none;
}

/* END OF CATALOGUE PAGE STYLES */
/*  */
/*  */
/*  */
/* SHIPPING PAGE STYLES */

#shipping,
#shipping nav {
  animation: color 10s ease-in-out infinite;
  background-color: aqua;
}

/* background color animation */
@keyframes color {
  0% {
    background: #d8bfd8;
  }
  20% {
    background: #ba55d3;
  }
  40% {
    background: #9370db;
  }
  60% {
    background: #dda0dd;
  }
  80% {
    background: #ffc0cb;
  }
  100% {
    background: #d8bfd8;
  }
}

#shippingContainer {
  width: 100%;
  padding: 10px 100px 50px;
}

.shippingContainer {
  width: 60%;
  margin: auto;
}

/* dark class is just to the bold the word information under the company name */
.dark {
  font-weight: bold;
}
/* hover class is to hover on the the words after information under the company name */
.hover:hover {
  cursor: pointer;
}

/* END OF THE SHIPPING STYLES */
/*  */
/*  */
/*  */
/* CONTACT US STYLES */
#contactContainer {
  width: 100%;
  padding: 10px 100px 50px;
}

.backgroundColor {
  background-color: #fff;
  padding: 5px;
  margin: 0 0 10px;
}
.contactContainer {
  width: 60%;
  margin: auto;
  padding: 50px;
  border: 2px dashed #9470dba5;
}

.contactMessage {
  text-align: center;
}

/* END OF THE CONTACT US STYLES */
/*  */
/*  */
/*  */
/* MEDIA QUERIES FOR MOBILE RESPONSIVENESS */
@media (max-width: 500px) {
  /* UNIVERSAL */
  .card {
    width: auto;
    margin: 20px 0;
  }
  /* LANDING PAGE */
  /* NAVABR */
  #navList {
    padding: 0;
  }

  #storeName {
    font-size: 3.8rem;
    text-decoration: underline;
  }
  #navList li {
    padding: 10px 5px;
  }
  /*  */
  /* LANDING BANNER */
  #bannerInfo {
    left: 0;
    top: 20px;
  }

  #bannerHeading {
    font-size: 3rem;
  }

  #bannerHeading,
  #bannerLink {
    line-height: 80px;
  }
  /*  */
  /* TESTIMONIALS SECTION */
  #testimonials {
    padding: 10px;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }

  #carouselExampleControls {
    margin: 5px auto;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
  }
  .testText {
    width: 70%;
    text-align: center;
    /* font-size: 0.8rem; */
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 1005;
  }
  /*  */
  /* FOOTER SECTION */
  #footer {
    padding: 50px 20px;
  }

  #footerName {
    display: block;
    font-size: 2rem;
    text-align: center;
  }
  /* END OF THE LANDING PAGE */
  /*  */
  /*  */
  /*  */
  /* CATALOGUE PAGE */
  #catalogueContainer {
    width: 95%;
  }

  #catalogueContainer .card {
    height: auto;
  }
  #catalogueNav,
  #catalogueIcons {
    width: 100%;
    float: none;
  }

  #catalogueIcons {
    margin: 0 auto;
  }

  .accordion {
    margin-top: 20px;
  }
  /* size chart */

  .headers {
    width: 90%;
    margin: auto 5px;
  }

  #topCollection,
  #bottomCollection {
    font-size: 3rem;
  }

  /* tables */
  .fullWidth {
    display: none;
  }
  .halfWidth {
    display: contents;
  }
  /* END OF THE CATALOGUE PAGE */
  /*  */
  /*  */
  /*  */
  /* SHIPPING PAGE */
  #shippingContainer {
    padding: 20px 10px;
  }

  .shippingContainer {
    width: 80%;
  }
  /* END OF THE SHIPPING PAGE */
  /*  */
  /*  */
  /*  */
  /* CONTACT US PAGE */
  #contactContainer {
    padding: 20px 10px;
  }

  .contactContainer {
    width: 90%;
    padding: 10px;
  }
  /* END OF THE CONTACT US PAGE */
}
