/* UNIVERSAL STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: #d8bfd8;
}

img {
  object-fit: cover;
  padding: 2px;
}

button {
  padding: 2px;
}

.imgBorder {
  border: 2px solid #faf0e6;
  border-radius: 1rem;
  width: auto;
  height: 300px;
}

#active {
  font-weight: bold;
  text-decoration: underline;
}

.hidden {
  display: none;
}
/* END OF UNIVERSAL STYLES */
/*  */
/*  */
/*  */
/* LANDING PAGE STYLES */

/* navabar */
#navbar {
  padding: 20px 0;
  text-align: center;
}

#storeName {
  font-family: 'Lobster Two', cursive;
  font-size: 5rem;
}

#navList {
  list-style: none;
  display: inline-flex;
  text-align: center;
}

#navList li {
  padding: 10px;
}

#navList a {
  text-decoration: none;
  color: #000;
}

#navList a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* landing banner */
#banner {
  position: relative;
  width: 100%;
}

#bannerImg {
  height: 800px;
  width: 100%;
  z-index: -1;
  object-position: right 65%;
  padding: 0;
}

#bannerInfo {
  position: absolute;
  left: 200px;
  top: 300px;
}

#bannerHeading,
#bannerLink {
  text-align: center;
  line-height: 100px;
  color: #000;
}

#bannerHeading {
  font-family: 'Lobster Two', cursive;
  font-size: 4rem;
}

#bannerLink a {
  text-decoration: none;
  font-size: 1.5rem;
  border: 2px solid #fff;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

#bannerLink a:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Best sellers section */
#bestSellers {
  margin: 50px;
}

.sectionHeadings {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Lobster Two', cursive;
  font-size: 2rem;
}

.borderSmall {
  width: 25px;
  margin: auto;
  border-bottom: 5px solid #000;
}

.container {
  margin: 30px auto;
}

.card {
  width: 18rem;
  height: 500px;
  background-color: #d8bfd8;
  transition: all 0.2s ease-in-out;
  border: none;
}

.card:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.564);
  transform: scale(1.1);
}

/* testimonials section  */
#testimonials {
  height: 200px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

#carouselExampleControls {
  margin: 20px auto;
  width: 80%;
}

#testimonials:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.testText {
  /* testText is the testimonial text */
  width: 60%;
  margin: 0 auto;
}

/* Meet the team section */
#meetTheTeam {
  width: 90%;
  margin: 20px auto 40px;
  display: flex;
  flex-direction: row;
}
#teamMember1,
#teamMember2 {
  margin: auto;
}

.meetTheTeamName {
  text-align: center;
  text-decoration: underline;
  padding-top: 10px;
  font-size: 2rem;
  font-family: 'Lobster two', cursive;
}

.meetTheTeamLinks {
  color: #000;
}

.meetTheTeamLinks:hover {
  color: grey;
}

.meetTheTeamCard {
  height: auto;
}

.meetTheTeamImg {
  height: 300px;
}

.landingPageMeetTheTeam {
  filter: grayscale(100%);
}

.jobTitle {
  font-size: 1.5rem;
  text-decoration: underline;
  text-align: center;
  font-family: 'Lobster two', cursive;
}

/* Footer section */
#footer {
  width: 100%;
  padding: 50px 100px;
  background-color: #000;
}

#footerContainer {
  width: 60%;
  margin: auto;
}

#footerName {
  display: inline-block;
  font-size: 4rem;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
  padding: 5px;
  background: linear-gradient(to left, PaleVioletRed, Plum);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerList {
  list-style: none;
  margin: 20px 0;
}

.footerList li {
  text-align: center;
  padding-bottom: 15px;
}

.footerList a {
  text-decoration: none;
  color: #fff;
}

.footerList a:hover {
  text-decoration: underline;
}

.footerDeclaration {
  color: #fff;
  text-align: center;
}

/* END OF LANDING PAGE STYLES */
/*  */
/*  */
/*  */
/* CATALOGUE PAGE STYLES */
/* cart button */
.cartAmountContainer {
  width: 89%;
  /* padding-right: 100px; */
  text-align: end;
}
#catalogueContainer {
  width: 90%;
  margin: auto;
}

/* The filter section */
#catalogueNav {
  width: 30%;
  float: left;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid red;
}

/* the buttons in the filter section */
.showItemButton {
  border: none;
  background-color: transparent;
  text-align: center;
  display: inline-block;
}

.showItemButton:hover {
  text-decoration: underline;
  font-weight: bold;
}

#filterList li {
  list-style: none;
}

#filterList li::before {
  content: '\00BB';
}

#catalogueIcons {
  padding: 30px;
  float: right;
  width: 70%;
}
.catalogueCard {
  height: auto;
}

#filler {
  clear: both;
}

/* Some pace around the cards */
.col-lg-4,
.col-md-6,
.col-sm-12 {
  margin: 20px 0;
}

/* Size section */
#section1,
#section2 {
  padding: 30px 20px;
}

.headers {
  width: 50%;
  margin: auto;
  font-family: 'Lobster', cursive;
}

.itemName {
  font-family: 'Lobster Two', cursive;
}

.itemDiscription {
  font-size: 1.5rem;
}

.sizeGuide {
  font-size: 1.8rem;
  text-decoration: underline;
}

.itemName,
.itemDiscription,
.sizeGuide {
  text-align: center;
}

/* Decoration */
#topCollection {
  background: linear-gradient(to left, orange, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}

#section1 .table {
  width: 80%;
  margin: auto;
  background: linear-gradient(to left, orange, orangered);
}

#bottomCollection {
  background: linear-gradient(to left, rgb(50, 218, 4), green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
}
#section2 .table {
  width: 80%;
  margin: auto;
  background: linear-gradient(to left, rgb(50, 218, 4), green);
}
/*! Responsiveness */

.halfWidth {
  display: none;
}

/* END OF CATALOGUE PAGE STYLES */
/*  */
/*  */
/*  */
/* CHECKOUT PAGE STYLES */

#checkOut,
#checkOut nav {
  animation: color 10s ease-in-out infinite;
}

/* background color animation */
@keyframes color {
  0% {
    background: #d8bfd8;
  }
  20% {
    background: #ba55d3;
  }
  40% {
    background: #9370db;
  }
  60% {
    background: #dda0dd;
  }
  80% {
    background: #ffc0cb;
  }
  100% {
    background: #d8bfd8;
  }
}

#checkOutContainer {
  width: 100%;
  padding: 10px 100px 50px;
}

.checkOutFormContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 60% 40%;
  width: 80%;
  margin: auto;
}

/* the check out form */
#checkOutForm {
  background-color: #fff;
  border-radius: 2rem;
  padding: 30px;
  margin: 5px;
}

.deliveryCheck {
  display: block;
  width: 100%;
  text-align: left;
  padding: 5px 15px;
  border-radius: 1rem;
  border: 1px solid black;
}

.deliveryCheck:hover {
  border: 2px solid rgba(128, 0, 128, 0.3);
  background-color: rgba(128, 0, 128, 0.1);
}

.active {
  border: 2px solid purple;
  background-color: rgba(128, 0, 128, 0.5);
}

/* shipping address */
.deliveryAddressInput {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  border-radius: 1rem;
}

.deliveryAddressInput:hover {
  border: 2px solid rgba(128, 0, 128, 0.3);
  background-color: rgba(128, 0, 128, 0.1);
}

.deliveryAddressInput:focus {
  border: 2px solid rgba(128, 0, 128, 0.3);
  background-color: rgba(128, 0, 128, 0.1);
}

/* payment methods */
#mastercard,
#paypal {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 1rem;
}

#mastercard:hover,
#paypal:hover {
  border: 2px solid rgba(128, 0, 128, 0.3);
  background-color: rgba(128, 0, 128, 0.1);
}

.expirationAndCVV {
  display: grid;
  gap: 1rem;
  grid-template-columns: 50% 50%;
}

/* The order summary */
#checkOutSummary {
  background-color: #fff;
  border-radius: 2rem;
  padding: 30px;
  margin: 5px;
}

.informationContainer {
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

/* order summary container classes */
#orderSummary {
  width: 100%;
}

.orderSumContainer {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 10% 50% 25% 5%;
}

.tally {
  display: inline-block;
}

.description {
  display: inline-block;
}

.tallyTotal {
  display: inline-block;
  text-align: right;
}

.removeIcon {
  display: inline-block;
  margin: 0 20px;
  text-align: right;
  color: rgba(128, 128, 128, 0.5);
}

.removeIcon:hover {
  color: #f00;
  cursor: pointer;
}

/* Totals for discount, delivery, total and tax */
.deliveryAndDiscount,
.totalAndTax,
.orderTotal {
  display: grid;
  grid-template-columns: 70% 30%;
}

#delivery,
#discount,
#total,
#tax,
#orderTotal {
  text-align: right;
}

/* calculating disocunt section */
#totalDiscountSummary {
  text-align: center;
}

/* class specifically for when the discount is good */
.acceptedDiscount {
  text-align: center;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 3px solid green;
  border-radius: 2rem;
  background-color: rgba(0, 128, 0, 0.5);
}
.disountForm {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 60% 40%;
}

#discountAmount {
  text-align: right;
}
/* class specifically for when the discount is bad */

.rejectedDiscount {
  margin: 5px 0;
  padding: 10px;
  border: 3px solid red;
  border-radius: 2rem;
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

/* submit button */
.submitContainer {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

/* END OF THE CHECKOUT PAGE STYLES */
/*  */
/*  */
/*  */
/* CONTACT US STYLES */
#contactContainer {
  width: 100%;
  padding: 10px 100px 50px;
}

.backgroundColor {
  background-color: #fff;
  padding: 5px;
  margin: 0 0 10px;
}
.contactContainer {
  width: 60%;
  margin: auto;
  padding: 50px;
  border: 2px dashed #9470dba5;
}

.contactMessage {
  text-align: center;
}

/* END OF THE CONTACT US STYLES */
/*  */
/*  */
/*  */
/* MEDIA QUERIES FOR MOBILE RESPONSIVENESS */
@media (max-width: 500px) {
  /* UNIVERSAL */
  .card {
    width: auto;
    margin: 20px 0;
  }
  /* LANDING PAGE */
  /* NAVABR */
  #navList {
    padding: 0;
  }

  #storeName {
    font-size: 3.8rem;
    text-decoration: underline;
  }
  #navList li {
    padding: 10px 5px;
  }
  /*  */
  /* LANDING BANNER */
  #bannerInfo {
    left: 0;
    top: 20px;
  }

  #bannerHeading {
    font-size: 3rem;
  }

  #bannerHeading,
  #bannerLink {
    line-height: 80px;
  }
  /*  */
  /* TESTIMONIALS SECTION */
  #testimonials {
    padding: 10px;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }

  #carouselExampleControls {
    margin: 5px auto;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
  }
  .testText {
    width: 70%;
    text-align: center;
    /* font-size: 0.8rem; */
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 100%;
  }
  /*  */

  /* MEET THE TEAM SECTION */
  .col-md-6,
  .col-sm-12 {
    margin-bottom: 50px;
  }
  /* FOOTER SECTION */
  #footer {
    padding: 50px 20px;
  }

  #footerName {
    display: block;
    font-size: 2rem;
    text-align: center;
  }
  /* END OF THE LANDING PAGE */
  /*  */
  /*  */
  /*  */
  /* CATALOGUE PAGE */
  #catalogueContainer {
    width: 95%;
  }

  #catalogueContainer .card {
    height: auto;
  }
  #catalogueNav,
  #catalogueIcons {
    width: 100%;
    float: none;
  }

  #catalogueIcons {
    margin: 0 auto;
  }

  .accordion {
    margin-top: 20px;
  }
  /* size chart */

  .headers {
    width: 90%;
    margin: auto 5px;
  }

  #topCollection,
  #bottomCollection {
    font-size: 3rem;
  }

  /* tables */
  .fullWidth {
    display: none;
  }
  .halfWidth {
    display: contents;
  }
  /* END OF THE CATALOGUE PAGE */
  /*  */
  /*  */
  /*  */
  /* SHIPPING PAGE */
  #checkOutContainer {
    padding: 20px 10px;
  }

  .checkOutFormContainer {
    width: 80%;
  }
  /* END OF THE SHIPPING PAGE */
  /*  */
  /*  */
  /*  */
  /* CONTACT US PAGE */
  #contactContainer {
    padding: 20px 10px;
  }

  .contactContainer {
    width: 90%;
    padding: 10px;
  }
  /* END OF THE CONTACT US PAGE */
}

/*  */
/*  */
/*  */

/* THE FOLLOWWING ARE STYLES CREATED SPECIFICALLY FOR JAVASCRIPT. IN MY JAVASCRIPT FILE, I'LL BE CREATING ELEMENTS PROGRAMATICALLY AND THESE FOLLOWING STYLES WILL BE ADDED TO THOSE ELEMENTS THROUGH JAVSCRIPT  */

/* overlay */
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Classes for when an item is displayed in it's singular form */

.itemDisplayContainer {
  display: flex;
  width: 70%;
  height: 70%;
  background-color: #fff;
  padding: 20px;
  z-index: 2;
  border-radius: 2rem;
}

.itemDisplayImageContainer {
  width: 50%;
  height: 100%;
}

.itemDisplayImage {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.itemInformationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

/* Classes for when the items in the cart are displayed */
.closeOverlayButton {
  display: block;
  width: 10%;
  margin-left: 50%;
  text-align: right;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.closeOverlayButton:hover {
  color: #000;
}

.cartItemContainer {
  width: 70%;
  height: 70%;
  background-color: #fff;
  padding: 40px;
  z-index: 2;
  border-radius: 2rem;
  overflow: auto;
}

.cartContainerHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.cartInnerHeading {
  font-family: 'Lobster two', cursive;
}

.cartCheckOutLink {
  justify-items: end;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/* if the cart is empty */
.emptyContainer {
  margin: 3rem;
  padding: 2rem;
  text-align: center;
  text-decoration: underline;
}

/* if it has items */
.cartProductContainer {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.cartProductImage {
  width: 150px;
  height: 150px;
}

.cartProductInformation {
  padding: 10px;
  width: 50%;
  margin-left: 10px;
  border: 1px solid red;
}

.cartProductPrice {
  padding: 10px;
  width: 50%;
  margin-left: 10px;
  border: 1px solid silver;
}

.cartRemoveItemButton {
  display: block;
  font-size: 0.7rem;
  margin-top: 5px;
  z-index: 1;
}
